.profile {
  margin: 5px;
  padding: 5px;
  border: solid, darkblue, 3px;
  width: 400px;
  color: darkblue;
  text-align: center;
}

.header, .footer {
  font-family: serif;
  margin: 5px;
  padding: 5px;
  width: 400px;
  text-align: center;
  color: darkblue;
}